@use "./variables";

.popUpForm {
    height: 130vh;
    background: rgb(12,247,51);
    background: linear-gradient(249deg, rgba(12,247,51,0.9948179955575981) 0%, rgba(219,37,37,1) 25%, rgba(30,198,57,1) 49%, rgba(219,37,37,1) 75%, rgba(12,247,51,1) 100%); 
    border-radius: 10px;
    border: 3px solid #d60c0c;
    }

.popUpForm {
    margin: 0px;
    padding: 0px;
}
  
