@use "./variables";

.ingredientSection {
    height: 130vh;
    background-image: url(../assets/ingredientsBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }

.ingredientSection {
    margin: 0px;
    padding: 0px;
}

.ingredientSection .myForm {
    padding-top: 28%;
}

label {
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: sans-serif;
}

#drinkChoice {
    margin-top: 20px;
    width: 400px;
  }