html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1260px;
  margin: 0 auto;
  width: 100%;
}

img {
  max-width: 100%;
  display: block;
}

html {
  background-color: lightgray;
}

button {
  text-transform: uppercase;
}

h1, h2 {
  color: white;
}

header {
  background-image: url(../assets/spiritesHeaderImageEdit.jpg);
  background-size: cover;
  background-position: center;
  padding: 50px 50px 100px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 110vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
header .imgContainer {
  width: 8%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header {
  padding-left: 65px;
}
header .textContainer {
  width: 50%;
}
header img {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
  width: 140%;
}
header h1 {
  font-family: "Satisfy", cursive;
  font-size: 7.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
header h2 {
  font-family: "Signika", sans-serif;
  font-size: 2.5rem;
  color: #ff3333;
  text-shadow: -2px -2px 0 white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header .ulElement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}
header .ulElement ul {
  list-style: none;
}
header .ulElement li {
  text-decoration: none;
  list-style: none;
  margin-right: 25px;
  margin-top: 30px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
header .ulElement a {
  color: white;
  font-size: 1.25rem;
  font-family: "Source Sans Pro", sans-serif;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 700;
}

.greenButton {
  background-color: #009933;
  border-radius: 8px;
}

.redButton {
  background-color: #ff3333;
  border-radius: 5px;
}

header h1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header h2:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.popUpForm {
  height: 140vh;
  background: rgb(12, 247, 51);
  background: linear-gradient(249deg, rgba(12, 247, 51, 0.9948179956) 0%, rgb(219, 37, 37) 25%, rgb(30, 198, 57) 49%, rgb(219, 37, 37) 75%, rgb(12, 247, 51) 100%);
  border-radius: 10px;
  border: 3px solid #d60c0c;
}

.popUpForm {
  margin: 0px;
  padding: 0px;
}

.centerButton {
  position: absolute;
  top: 175%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.centerButton #find {
  padding: 10px 20px;
  font-size: 20px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: -150%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(1.25);
          transform: translate(-50%, -50%) scale(1.25);
  width: 400px;
  padding: 20px 30px;
  background: #fff;
  border-radius: 10px;
  border: 3px solid #d60c0c;
  -webkit-transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, -webkit-transform 20ms ease-in-out 0ms;
  transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, -webkit-transform 20ms ease-in-out 0ms;
  transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms;
  transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms, -webkit-transform 20ms ease-in-out 0ms;
}
.menu .closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background: #d60c0c;
  color: #fff;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}
.menu h2 {
  color: #d60c0c;
}
.menu p {
  color: #d60c0c;
  font-size: 0.8rem;
}

.menu.active {
  top: 185%;
  width: 95vw;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, -webkit-transform 20ms ease-in-out 0ms;
  transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, -webkit-transform 20ms ease-in-out 0ms;
  transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms;
  transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms, -webkit-transform 20ms ease-in-out 0ms;
}

.form {
  margin: 15px 0;
}
.form h2 {
  text-align: center;
  margin: 10px 0px 20px;
  font-size: 25px;
}

form {
  text-align: center;
}
form label {
  font-size: 20px;
}

select {
  padding: 5px;
  width: 50%;
}

#drinkDisplay {
  padding: 20px;
}

.cocktails {
  padding: 20px;
}

#drinkDisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#drinkDisplay img {
  height: 200px;
}

.ingredientSection {
  height: 130vh;
  background-image: url(../assets/ingredientsBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ingredientSection {
  margin: 0px;
  padding: 0px;
  padding-top: 28%;
}

label, .submitButton {
  padding: 10px 20px;
  font-size: 20px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: sans-serif;
}

#drinkChoice {
  margin-top: 20px;
  width: 400px;
}

.submitButton {
  margin-top: 10px;
  background-color: red;
}

footer {
  background-color: #ff3333;
  text-align: center;
  height: 25px;
  overflow: hidden;
}
footer p {
  margin: 0;
  color: white;
  font-weight: 700;
  font-family: "Signika", sans-serif;
}

@media (max-width: 1200px) {
  .headerElement {
    height: 150vh;
  }
  .popUpForm {
    height: 250vh;
  }
  .centerButton {
    top: 250%;
  }
  .menu {
    top: -250%;
  }
  .menu.active {
    top: 250%;
  }
}
@media (max-width: 1040px) {
  .centerButton {
    top: 270%;
  }
  .menu {
    top: -270%;
  }
  .menu.active {
    top: 270%;
  }
}
@media (max-width: 845px) {
  .popUpForm {
    height: 280vh;
  }
  .centerButton {
    top: 290%;
  }
  .menu {
    top: -290%;
  }
  .menu.active {
    top: 290%;
  }
}
@media (max-width: 665px) {
  header .textContainer {
    width: 70%;
  }
  header .ulElement a {
    font-size: 1rem;
  }
  header .imgContainer {
    width: 20%;
  }
  .popUpForm {
    height: 390vh;
  }
  .centerButton {
    top: 350%;
  }
  .menu {
    top: -350%;
  }
  .menu.active {
    top: 350%;
  }
}
@media (max-width: 620px) {
  .popUpForm {
    height: 500vh;
  }
  .centerButton {
    top: 400%;
  }
  .menu {
    top: -400%;
  }
  .menu.active {
    top: 400%;
  }
}
@media (max-width: 520px) {
  header h1 {
    font-size: 5rem;
  }
  header .ulElement {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header header h2 {
    font-size: 2rem;
  }
}